<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/Common.css">
    <link rel="stylesheet" href="/search_page.css">

</head>

<body>
    <div class="logo">
        <img src="/resources/logo.png" alt="">
    </div>

    <form action="/result" method="post">
        <input type="text" name="query" id="query" placeholder="አዚህ ይጻፉ..." autocomplete="off" required>
        <button class="searchBtn" type="submit">ፈልግ</button>
    </form>
</body>

</html>